* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    position: fixed;
    background-color: #121212;
}

/* ============
    LAYOUT
    =========== */

.result-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill minmax(2em, 1fr));
    grid-template-rows: repeat(auto-fill minmax(6.25em, 1fr));
    column-gap: 0.5em;
    grid-template-areas: 
        ". . . . . . . . . . . ."
        "p p p . t t t t t t s i"
        "p p p . r r g g g g b b"
        "p p p . c c c c c c c c"
        "p p p . c c c c c c c c"
        "p p p . c c c c c c c c"
    ;

}

.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto-fill, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto-fill, 1fr));
}


/* ============
    HEADER / HERO STYLES
    =========== */

header {
    height: 13em;
    width: 100vw;
    background-image: url("images/hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-blend-mode: difference;
    filter: opacity(0.9);
}

.hero-container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: 1px solid rebeccapurple; /* GET RID OF */
}

h1 {
    align-self: center;
    grid-row: 2;
    margin: 0;
}

.watchlist-link {
    align-self: center;
    justify-self: center;
    grid-row: 2;
    text-decoration: none;
    color: #fff;
}

form {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    grid-row: 3;
    grid-column: span 2;
    border: 0;
    border-radius: 0.375em;
    background-color: #2E2E2F;
    min-width: 16.5625em;
    height: 2.375em;
    align-items: center;
    color: #A5A5A5;
    position: relative;
    bottom: -1em;
}

.search-container {
    height: 100%;
    padding-left: 0.8125em;
}

.my-search {
    background-color: #2E2E2F;
    border: 0;
    height: 100%;
}

.search-button {
    height: 100%;
    background-color: #4B4B4B;
    color: #fff;
    margin: 0;
    border: 0;
    border-radius: 0em 0.375em 0.375em 0em;
}

.search-button:active,
.search-button:focus,
.search-button:hover {
    background-color: #a5a5a585
}


/* ============
    RESULT CARD STYLES
    =========== */

.search-results-container {
    margin-top: 2.625em;
}

.result-card-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 28.875em;
    min-height: 12.3125em;
    height: auto;
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid #2c2c2c;
    color: #fff;
}

.poster {
    grid-area: p;
    justify-self: center;
}

h2 {
    grid-area: t;
    font-weight: medium;
    font-size: 1.125em;
}

.fa-star,
.runtime,
.genre,
.add-button {
    font-size: 0.75em;
}

.fa-star {
    grid-area: s;
    color: #FEC654;
    height: 0.9375em;
}

.imdb-rating {
    grid-area: i;
    justify-self: flex-start;
    font-size: 0.65em;
}

.runtime {
    grid-area: r;
}

.genre {
    grid-area: g;
}

.add-button {
    grid-area: b;
}

.plot-container {
    grid-area: c;
    font-size: 0.875em;
    color: #a5a5a5;
}




